name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        deno-version: [2.x]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ matrix.deno-version }}
      - name: Run tests
        run: bash ./bs/test.sh
      - name: Run tests with coverage
        run: deno test --coverage=cov_profile src/*/*.test.ts
      - name: Generate coverage report
        run: deno coverage cov_profile --lcov --output=coverage.lcov
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          file: ./coverage.lcov
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
